## [09] Membagi Data Frame Menjadi Dua Secara Acak

### [9.1] Import Module

In [4]:
import pandas as pd
import numpy as np
#mencetak versi pandas dan numpy yang akan digunakan
print(pd.__version__)
print(np.__version__)

1.0.5
1.18.5

### [9.2] Persiapan Data Frame

In [5]:
#data frame terdiri dari 10 baris dan 5 kolom
n_rows = 10
n_cols = 5
#kolom akan diberi label A B C D dan E
cols = tuple('ABCDE')
df = pd.DataFrame(np.random.randint(1,20,size=(n_rows,n_cols)),columns=cols)
df

    A   B   C   D   E
0  18   2  12  18  14
1  18   8  19  12   2
2  19   1  19   2  17
3  12   7   1   9  17
4   7  11  11   6  18
5   9  19  11  15  14
6   4   6  17  15  13
7   4  15   8   7   6
8   4   9  11   9  19
9   2   4   1   6  14

### [9.3] Membagi Data Frame menjadi dua secara acak berdasarkan proporsi tertentu

In [6]:
#.shape digunakan untuk mengecek bentuk dari dataframe 
df.shape

(10, 5)

In [8]:
#variabel proporsi disini memiliki arti kita ingin membagi 70% dari data frame utama ke data frame pertama dan 30% sisanya di dataframe kedua
proporsi = 0.7
#method .sample() digunakan untuk mengambil baris secara acak sebanyak proporsi yang sudah ditentukan sebelumnya
df_1 = df.sample(frac=proporsi)
#method .drop() digunakan untuk menghapus baris-baris yang sudah diadopsi di df_1
df_2 = df.drop(df_1.index)
#mencetak shape dari ketua data frame
print(f' d_1 shape : {df_1.shape}')
print(f' d_2 shape : {df_2.shape}')

 d_1 shape : (7, 5)
 d_2 shape : (3, 5)

In [9]:
#memanggil isi dari df_1
df_1

    A   B   C   D   E
6   4   6  17  15  13
1  18   8  19  12   2
4   7  11  11   6  18
8   4   9  11   9  19
3  12   7   1   9  17
9   2   4   1   6  14
0  18   2  12  18  14

In [10]:
#memanggil isi dari df_2
df_2

    A   B   C   D   E
2  19   1  19   2  17
5   9  19  11  15  14
7   4  15   8   7   6

## [10] Mengganti Nama (label) kolom pada Data Frame berdasarkan pola

### [10.1] Import Module

In [12]:
import pandas as pd
#mencetak versi pandas yang akan digunakan
print(pd.__version__)

1.0.5

### [10.2] Persiapan Data Frame

In [13]:
df = pd.read_csv('./titanicfull.csv')

FileNotFoundError: [Errno 2] File ../kaggle_explorations/belajar_matplotlib_dasar/data/titanicfull.csv does not exist: '../kaggle_explorations/belajar_matplotlib_dasar/data/titanicfull.csv'